{% extends "base.html" %}
{% load static %}

{% block page_content %}
<!DOCTYPE html>
<html>
   <head>
    <meta charset="utf-8">
    <title>Online Art Gallery</title>
  </head>
  <body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'start' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'choose_gallery' %}">Galleries</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ thisCollection.title }}</li>
        </ol>
      </nav>
    <h1>Artworks - {{ thisCollection.title }}</h1>
    <div class="row">
    {% for artPiece in artPieces %}
        <div class="col-md-4">
            <div class="card mb-2">
                <img class="card-img-top" src="{% static artPiece.image %}">
                <div class="card-body">
                    <h5 class="card-title">{{ artPiece.title }}</h5>
                    <a href="{% url 'art_details' thisCollection.pk artPiece.pk %}"
                       class="btn btn-outline-secondary">
                        View Description & Details »
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>    
  </body>
{% endblock %}